<?xml version='1.0' encoding='UTF-8'?>
<settings>
  <run_mode>eigenvalue</run_mode>
  <particles>10000</particles>
  <batches>600</batches>
  <inactive>150</inactive>
  <source type="independent" strength="1.0" particle="neutron">
    <space type="box">
      <parameters>-92.5 -92.5 -95.0 92.5 92.5 95.0</parameters>
    </space>
    <constraints>
      <fissionable>true</fissionable>
    </constraints>
  </source>
  <output>
    <tallies>true</tallies>
  </output>
  <seed>2026</seed>
  <temperature_default>557.0</temperature_default>
  <temperature_method>interpolation</temperature_method>
</settings>
